.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  animation: loader 1s linear infinite;
}

.dot2 {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  animation: loader 1.5s linear infinite;
}

.dot3 {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  animation: loader 2s linear infinite;
}

.dot4 {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  animation: loader 2.5s linear infinite;
}

@keyframes loader {
  0% { width: 25px; height: 25px; }
  50% { width: 5px; height: 5px; }
  100% { width: 25px; height: 25px; }
}

@keyframes loader2 {
  0% { width: 25px; height: 25px; }
  50% { width: 5px; height: 5px; }
  100% { width: 25px; height: 25px; }
}

@keyframes loader3 {
  0% { width: 25px; height: 25px; }
  50% { width: 5px; height: 5px; }
  100% { width: 25px; height: 25px; }
}

@keyframes loader4 {
  0% { width: 25px; height: 25px; }
  50% { width: 5px; height: 5px; }
  100% { width: 25px; height: 25px; }
}

